// include all your new classess here that is intended for mobile. Only if necessary but please use breakpoints mixins


@media screen and (max-height: 768px) {
	
	.icon-logo {
		width: 80px;
		margin-bottom: 15px;
	}

	.banner-wrap .table-cell {
		padding-bottom: 40px;
	}

	.newsletter-wrap {
		margin-top: 30px;
	}

	.watch-video {
		margin-top: 35px;
	}

	.home-text h1 {
		font-size: 52px;
	}
}